@font-face {
    font-family: 'SouvenirITCbyBT9802f599d186ca';
    src: url('http://cdn.webfont.youziku.com/webfonts/nomal/100042/41822/58cb86acf629e313d851214b.gif?r=38126892804');
    src: url('http://cdn.webfont.youziku.com/webfonts/nomal/100042/41822/58cb86acf629e313d851214b.gif?r=38126892804?#iefix') format('embedded-opentype'), url('//cdn.webfont.youziku.com/webfonts/nomal/100042/41822/58cb86acf629e313d851214b.bmp?r=38126892804') format('woff'), url('//cdn.webfont.youziku.com/webfonts/nomal/100042/41822/58cb86acf629e313d851214b.jpg?r=38126892804') format('truetype'), url('//cdn.webfont.youziku.com/webfonts/nomal/100042/41822/58cb86acf629e313d851214b.png#SouvenirITCbyBT-Light') format('svg');
}

.css9802f599d186ca {
    font-family: 'SouvenirITCbyBT9802f599d186ca';
}
/* font-family:'Angstrom';; */
@import 'http://cdn.webfont.youziku.com/webfonts/nomal/100042/46865/5b121b36f629d805b8a9796a.css';
*{
    font-family:'Source-Han-Ligh1263e396b9186ca';
}