@import 'http://cdn.webfont.youziku.com/webfonts/nomal/100042/46908/5b120c9df629d805b8a9795c.css';
.title-width{
	width: 90px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
.time{
	color:rgba(87,87,87,.80);
	font-size: 14px;
}
.signature{
	font-family:'GoodVibrationsROB';
	text-align: right;
	font-size: 20px;
}
.content{
	cursor: default;
	user-select:none;
}