*{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
	display: inline;
}

#nav{
	color: rgba(47,44,44,1.00);	
	float: right;
	margin-right: 8%;
}

#logo{
	margin-left: 8%;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: rgba(255,255,255,1.00);
	font-weight: 600;
}

#header{
	background-color:yellowgreen;
	line-height: 2.0;
	font-size: 3em;
}

a{
	text-decoration: none;
	color: inherit;
}

#thanks{
	width: 100%;
	position:fixed;
    bottom:0;
	text-align: center;
}

#thanks-font{
	width: 80%;
    border-top:1px rgba(87,87,87,.15) solid;
	color: rgba(87,87,87,.80);
	font-size: 2em;
	line-height: 2.5;
	margin: 0 auto;
}
