
.title-width{
	width: 200px;
}

.content{
	line-height: 2;
	font-size: 1em;
	font-family: "Courier New", Courier, monospace;
	font-weight: 600;
}
#International-area-code{
	color: rgba(0,0,0,.3);
}
.icon-right{
	color:rgba(47,44,44,1.00);
}
